<p><%= t("devise.mailer.confirmation_instructions.greeting", recipient: @email) %></p>

<p><%= t("devise.mailer.confirmation_instructions.instruction") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.action"), "#{ENV["FRONTEND_URL"]}/sign-up?confirmation_token=#{@token}" %></p>
