<p><%= t("devise.mailer.confirmation_instructions.greeting", recipient: @email) %></p>

<p><%= t("devise.mailer.confirmation_instructions.instruction") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.action"), api_v1_email_confirmation_url(confirmation_token: @token) %></p>
