<h3><%= t "admin_mailer.greetings", full_name: @admin.full_name %></h3>
<p><%= t "admin_mailer.investor_created.content_html", new_investor_url: link_to('New Investor', edit_backoffice_investor_url(@investor)) %></p>
<p><%= t "admin_mailer.farewell_html" %></p>