<h3><%= t "admin_mailer.greetings", full_name: @admin.full_name %></h3>
<p><%= t "admin_mailer.project_developer_created.content_html", new_pd_url: link_to('New Project Developer', edit_backoffice_project_developer_url(@project_developer)) %></p>
<p><%= t "admin_mailer.farewell_html" %></p>