<li role="menuitem" tabindex="-1" class="flex justify-between items-center px-4 py-2 sm:py-2 outline-none text-sm font-sans transition text-black cursor-pointer hover:opacity-60">
  <div>
    <%= yield if yield.present? %>
  </div>
</li>
