{
  "http_interactions": [
    {
      "request": {
        "method": "post",
        "uri": "https://developers.integratedmodelling.org/modeler/api/v2/users/log-in",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"username\":\"<KLAB_API_USERNAME>\",\"password\":\"<KLAB_API_PASSWORD>\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 202,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"redirect\":\"/modeler/ui/viewer?session=s488lqypjz0\",\"session\":\"s488lqypjz0\",\"publicApps\":[{\"name\":\"aries.seea\",\"description\":\"#ARIES_FOR_SEEA_EXPLORER_DESCRIPTION\",\"actions\":[],\"color\":null,\"projectId\":\"un.seea.aries\",\"logo\":\"static/images/seea_logo_transparent.png\",\"label\":\"ARIES for SEEA Explorer\",\"platform\":\"WEB\",\"localizations\":[{\"isoCode\":\"en\",\"languageDescription\":\"English\",\"localizedDescription\":\"The SEEA Ecosystem Accounting standard on the ARIES platform. A collaboration between UNSD, UNEP and BC3. Powered by k.LAB semantic web technology.\",\"localizedLabel\":\"ARIES for SEEA Explorer\"},{\"isoCode\":\"ru\",\"languageDescription\":\"русский\",\"localizedDescription\":\"Стандарт экосистемного учета СЭЭУ на платформе ARIES. Сотрудничество между СОООН, ЮНЕП и Баскским центром по изменению климата. На базе семантической веб-технологии k.LAB.\",\"localizedLabel\":\"ARIES for SEEA Explorer\"},{\"isoCode\":\"fr\",\"languageDescription\":\"français\",\"localizedDescription\":\"Le cadre statistique de la comptabilité des écosystèmes du SCEE sur la plateforme ARIES. Une collaboration entre UNSD, PNUE et BC3. Alimenté par la technologie du web sémantique k.LAB.\",\"localizedLabel\":\"ARIES for SEEA Explorer\"},{\"isoCode\":\"es\",\"languageDescription\":\"español\",\"localizedDescription\":\"Contabilidad de Ecosistemas de SEEA para el capital natural en la plataforma de ARIES. Una colaboración entre UNSD, PNUMA y BC3 que utiliza la tecnología semántica de k.LAB.\",\"localizedLabel\":\"ARIES for SEEA Explorer\"},{\"isoCode\":\"zh\",\"languageDescription\":\"中文\",\"localizedDescription\":\"基于ARIES平台的综合环境与经济核算系统的生态系统核算标准。由联合国统计司环境统计科（UNSD）、联合国环境规划署（UNEP）和巴斯克气候变化中心（BC3）共同合作。k.LAB语义网络技术提供支持。\",\"localizedLabel\":\"ARIES for SEEA Explorer\"}]}],\"authorization\":\"67313794-ffe3-4bcd-92cb-a0956e78f55e\"}"
        }
      },
      "recorded_at": "Tue, 17 Jan 2023 11:02:41 GMT"
    },
    {
      "request": {
        "method": "post",
        "uri": "https://developers.integratedmodelling.org/modeler/api/v2/public/submit/context",
        "body": {
          "encoding": "UTF-8",
          "string": "{\"urn\":\"aries.heco.locations.colombia_continental\",\"observables\":[\"im:Indicator (value of ecology:Biodiversity)\",\"im:Indicator (value of ecology:Ecosystem for es:ClimateRegulation)\",\"im:Indicator (es.nca:Condition of demography:Human demography:Community)\",\"im:Indicator (es.nca:Condition of earth:Aquatic ecology:Ecosystem)\"],\"scenarios\":[],\"estimate\":false,\"estimatedCost\":-1}"
        },
        "headers": {
          "Authorization": [
            "s488lqypjz0"
          ],
          "Content-Type": [
            "application/json"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": ""
        },
        "headers": {
          "Content-Type": [
            "application/json"
          ],
          "Front-End-Https": [
            "on"
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"id\":\"488lx0pni5\",\"postDate\":1673953361551,\"resolutionDate\":0,\"status\":\"OPEN\",\"type\":\"ContextObservation\",\"data\":{\"urn\":null,\"geometry\":null,\"feasible\":\"true\",\"user\":\"<KLAB_API_USERNAME>\",\"url\":\"/api/v2/public/submit/context\",\"email\":\"martintomas.it@gmail.com\"},\"statusMessage\":null,\"seen\":false}"
        }
      },
      "recorded_at": "Tue, 17 Jan 2023 11:02:41 GMT"
    },
[...]
