<h3><%= t "project_developer_mailer.greetings", full_name: @user.full_name %></h3>
<p><%= t "project_developer_mailer.project_destroyed.content", project_name: @project_name %></p>
<p><%= t "project_developer_mailer.farewell_html" %></p>
