<h3><%= t "project_developer_mailer.greetings", full_name: @user.full_name %></h3>
<p><%= t "project_developer_mailer.removed_from_project.content", project_name: @project.name %></p>
<p><%= t "project_developer_mailer.farewell_html" %></p>
