<% filter_key = :filter_full_text if local_assigns[:filter_key].nil? %>

<div class="inline-block relative w-60 mr-3">
  <%= f.input filter_key, as: :string, placeholder: I18n.t("backoffice.common.search_placeholder"), required: false, label: false, input_html: { class:"z-20 pr-15", value: params.dig(:q, filter_key) } %>
  <%= button_tag type: :submit, class: "absolute top-0 right-0 p-2.5 text-white bg-green-dark rounded-r-lg border border-solid border-beige" do %>
    <%= svg "search" %>
  <% end %>
</div>
