<nav class="flex gap-4.5 py-3">
  <%= nav_link_to t("backoffice.layout.projects"), backoffice_projects_path %>
  <%= nav_link_to t("backoffice.layout.investors"), backoffice_investors_path %>
  <%= nav_link_to t("backoffice.layout.project_developers"), backoffice_project_developers_path %>
</nav>
