<div class="w-full">
  <%= link_to url do %>
    <div class="absolute bg-white text-green-dark rounded-full -top-6 right-0 py-2 px-4 flex gap-2">
      <span class="text-xl leading-none">⊕</span>
      <span><%= text %></span>
    </div>
  <% end %>
</div>
