<div class="min-w-fit flex items-center mb-4 mr-1 font-sans pagination-total-number">
  <div class="text-gray-800">
    <span class="mr-1"><%= t("backoffice.common.total") %></span>
    <span class="font-semibold"><%= @pagy_object.count %></span>
  </div>
</div>
